1) Which of them are values or an expression:

Answer: Values: -87.8, 6, 'hello'
        Expression: *,-,/,+

2) What is the difference between string and variable?

Answer: Strings are datas whic are stored by using a variable. It is denoted by "" or ''.
        Variables are used to store datas. They can be used or recollected anywhere in the program.

3) Describe 3 different data types.

In [ ]:
Answer: Numeric data type: 1)This data type contains integer,float and complex numbers. Datas having numbers are called as numeric data 
                           type. Intergers are numbers like 2,44,65 etc..Float are decimal point numbers like 3.4,7.53. Complex numbers
                           contain real and imaginary part like 5+3j.
                           2)Dictionary is another data type which contains key value pair. It is denoted inside set bracket {}.
                           For example: {34:'sri'}. Dictionaries are mutable and are indexed based on key value pair
                           3)Set is another data type which contains a set of values. They will be of unordered format. Every time we 
                           run a set we get different arrangement of values. They are denoted inside {} only.A set is mutable, iterable
                           does not contain duplicate elements.

4) What is an expression made up of? What do all expressions do?

In [ ]:
Answer: Expression is a combination of operators and operands.operators are special symbols that are useful for doing computations
        like addition, subtraction, multiplication, division and exponentiation . All expressions evaluate the given datas and
        produce a result.

5) This assignment statement like spam=10. What is a difference between expression and statement

In [ ]:
Answer: Expressions refer to a piece of code that can be evaluated to a value
        example: 5>2,5+3
        Statements refer to a piece of code that executes a specific instruction or completes a task.
        example: x=20 is a statement

6) After running the code what does it become?
              bacon=22
              bacon+=1
       
       Answer:23

In [1]:
bacon=22
bacon+=1

In [2]:
bacon

23

7) What should the values of the following two terms be?
        'spam'+'spamspam'
        'spam'*3
        
        Answer:'spamspamspam' and 'spamspamsapm'

In [3]:
'spam'+'spamspam'

'spamspamspam'

In [4]:
'spam'*3

'spamspamspam'

8) Why is eggs a valid variable name but 100 is not?

In [ ]:
Answer: A variable name should start with a letter or underscore character but it should not start with number. That's why 100 
        is invalid.

9) What three functions can be used to get int, float, string value of a number?

In [ ]:
Answer: To get a number in terms of integer we can use int() function. 
        To get a number in terms of float we can use float() function.
        To get a number in terms of string we can use str().
        By writing the number inside the paranthesis of the particular function the number will get converted to the desired format.

10) Why this expression causes an error. how can we fix it?
        'I have eaten'+99+'burritos'

In [ ]:
Answer: This expression shows error since we cannot concatenate only string to string and not string to integer, since 99 is an 
        integer.